@{
    ViewBag.Title = "Describe Myself";
}

<h2>Describe Myself</h2>

<table border="1" style="width: 50%; text-align: left;">
    <tr>
        <th>Name</th>
        <td>John Doe</td>
    </tr>
    <tr>
        <th>Age</th>
        <td>22</td>
    </tr>
    <tr>
        <th>Course</th>
        <td>Computer Science</td>
    </tr>
    <tr>
        <th>Hobby</th>
        <td>Coding and Music</td>
    </tr>
</table>
